__pycache__
app/__pycache__
app/.pytest_cache
app/routers/__pycache__
app/routers/.pytest_cache
app/skills/.pytest_cache
app/skills/__pycache__
app/utils/.pytest_cache
app/utils/__pycache__
.pytest_cache
venv/
.venv/
.chroma/
.DS_Store

env/
dev/
.env.dev
sqlite.db
data_map.txt
logs/
db/
data/
flask_session/
history/
#.env
#azara-ai_service_account_keys.json
#firebase_config.json 